@import "../bower_components/bootstrap/less/grid.less";
#wpadminbar {display:none !important; }
* {
    margin: 0px;
    outline: 0px none;
    box-sizing: border-box;
}

body {
    background: url('../images/background-wood.jpg');
    font-size: 14px;
    font-family: 'Open Sans', sans-serif !important;
}
img {
    max-width: 100%;
    height: auto;

    &.portrait {
        border: 6px solid #fff;
        box-shadow: 5px 3px 5px #545454;
        margin-left: 10px;
    }

    &.alignright {
        float: right;
    }
}

a {
    color: #333;
    text-decoration: none;

    &:hover, &:focus {        
        color: #428bca;
        text-decoration: none !important;
    }
}

.mobile {
    display: none;
}

.non-mobile {
    display: inherit;
}
.hidden {
    display: none; 
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clear {
  clear: both;
  height: 0;
}

a.phone {
    color: #5d231f;

    &:hover {
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700 !important;
    font-family: 'Open Sans', sans-serif !important;
}

.page-title {
    border-bottom: 1px solid rgba(93,35,31,0.1);
    padding-bottom: 10px;
}

.main-wrap-shadow {
    -webkit-box-shadow: 0 8px 15px rgba(0, 0,0, 0.8);
    -moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.8);
    box-shadow: 0 8px 15px rgba(0,0,0, 0.8);
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}