@import "../bower_components/bootstrap/less/forms.less";

form {
  label {
    @color: @white;    
  }
  input, select, textarea {
    color: @black !important;
  }
}

.button-login {
    float: left;
}
a.lost_password {
    margin-left: 10px;
}