@media only screen and (max-width: 480px) {
    .mobile {
        display: inherit;
    }

    .non-mobile {
        display: none;
    }

    img {
        &.mobile-logo {
            width: 210px;
            height: auto;
        }

        &.portrait {
            display: none;
        }
    }

    .header-top-links-container {
        padding-right: 10px;
    }

    .hours {
        width: 100%;
        margin: 0 auto;
    }

    .contact {
        width: 100%;
        margin: 0 auto;
    }

    .menu-button {
        position: absolute;
        top: 61px;
        right: 20px;
        z-index: 1000;
        margin: 0.5em;
        padding: 0;
        width: 2.5em;
        height: 2.25em;
        border: none;
        text-indent: 2.5em;
        font-size: 1em;
        color: transparent;
        background: transparent;

        &:before {
            position: absolute;
            top: 0.5em;
            right: 0.5em;
            bottom: 0.5em;
            left: 0.5em;
            background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
            content: '';
        }
    }
}

@media only screen and (max-width: 767px) {
    html, body, .page-wrap {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    .page-wrap {
        overflow: scroll;
        .main-wrap {
            width: auto;
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    .mobile {
        display: inherit;
    }

    .non-mobile {
        display: none;
    }

    /*#header #header-top {
        display: block;
        .mobile-menu-open {
            display: none;
        }
    }*/

    #header .header-middle {
        padding: 20px 0px;
    }

    .header-top-links-container {
        padding-right: 10px;
    }

    .logo-wrap .logo-wide {
        display: none;
    }

    .logo-wrap .logo-responsive {
        display: block;
    }

    #menu-primary {
        #menu-item-329 {
            margin-left: 0px;
        }

        li#menu-item-404 {
            display: none;
        }
    }

    .navbar-nav > li {
        width: 100% !important;
    }

    ul.sub-menu {
        display: none;
    }

    .menu-button {
        position: absolute;
        top: 61px;
        right: 20px;
        z-index: 1000;
        margin: 1em;
        padding: 0;
        width: 2.5em;
        height: 2.25em;
        border: none;
        text-indent: 2.5em;
        font-size: 1.5em;
        color: transparent;
        background: transparent;

        &:before {
            position: absolute;
            top: 0.5em;
            right: 0.5em;
            bottom: 0.5em;
            left: 0.5em;
            background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
            content: '';
        }
    }

    .close-button {
        width: 1em;
        height: 1em;
        position: absolute;
        left: 1em;
        top: 1em;
        overflow: hidden;
        text-indent: 1em;
        font-size: 0.75em;
        border: none;
        background: transparent;
        color: transparent;
    }

    .menu-mobile {
        background: #272c32;
        position: fixed;
    }

    .mobile-menu-vertical {
        width: 240px;
        height: 100%;
        top: 0;
        z-index: 10000;
    }

    .menu-right {
        right: -240px;
    }

    .menu-right.menu-open {
        right: 0;
    }

    .menu-push {
        overflow-x: hidden;
        position: relative;
        /*left: 0;*/
    }

    .menu-mobile, .menu-push {
        transition: all 0.3s ease;
    }

    #footer {
        .shop-container, .help-container {
            ul {
                li {
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .page-wrap .main-wrap {
        margin: 0 15px;
    }

    .nav-primary-wrap .right-ribbon {
        display: none;
    }

    .nav-primary-wrap .left-ribbon {
        display: none;
    }
    .where-to-buy-wrap {
        div.logo {
            display: none;
        }
    }
}

@media only screen and (min-width: 768px) {
    #site-header-cart {
        &:hover {
            .site-header-cart-wrapper {
                display: block;
            }
        }
    }

    .logo-wrap .logo-responsive {
        display: none;
    }

    .navbar-header {
        display: none;
    }

    .map-container {
        padding-bottom: 25%;
    }

    .navbar-nav {
        li {
            &.menu-item-has-children {
                > a::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: 10px;
                    margin-left: -4px;
                    width: 0;
                    height: 0;
                    border-right: 4px solid transparent;
                    border-left: 4px solid transparent;
                    border-top: 4px solid #e0e0e0;
                    border-bottom: none;
                }

                &:hover {
                    > a:before {
                        z-index: 2;
                        bottom: 2px;
                        margin-left: -9px;
                        width: 0;
                        height: 0;
                        border-right: 8px solid transparent;
                        border-left: 8px solid transparent;
                        border-bottom: 8px solid #fff;
                        border-top: none;
                    }
                }
            }
        }

        ul {
            &.sub-menu {
                display: none;
                background: #fff;
                color: #ccc;
                position: absolute;
                top: 58px;
                z-index: 102;
                right: -78px;                
                
                li {

                    &:nth-child(2n) {
                        border-right: 0;
                    }
                    border-right: 1px solid rgba(0,0,0,0.05);
                    border-bottom: 1px solid rgba(0,0,0,0.05);

                    &.menu-item-413 {
                        border-bottom: none;

                    }
                    &:last-child {
                        border-bottom: none;
                    }
                }

                a {
                    color: #333;
                    font-size: 14px;
                    padding: 15px;

                    &:hover {
                        transition: all 0.3s ease-in-out;
                        color: #428bca;
                    }
                }
            }
        }
    }
}


/**
 * Bootstrap grid modifiations
 **/
@media (min-width: 768px) {
    .container {
        max-width: 945px;
        width: auto;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 990px;
        width: auto;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 990px;
        width: auto;
    }
}
