﻿body {
    &.woocommerce {
        .content-wrap {
            @media only screen and (min-width: 768px) {
                margin-top: 125px;
            }
        }
    }

    .content-wrap {
        line-height: 23px;
        padding: 20px;
        margin-top: 5px;

        @media only screen and (min-width: 768px) {
            margin-top: 105px;
        }

        img {
            @media only screen and (max-width: 320px) {
                display: block;
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }
}

th {
    text-align: left;
}

#content {
    position: relative;
}

.page-id-17 h4 {
    padding: 10px 0; 
}

/**
 * modal styles        
**/
.shipping-policy-container {
    .shipping-policy {
        ol {
            li {
                list-style-type: inherit;
                padding: 12px 0;
            }
        }
    }

    h2 {
        text-align: center;
    }
}

.page-wrap {
    position: relative;

    .main-wrap {
        max-width: 990px;
        margin: 0 auto;
        background-color: @beige;

        @media only screen and (max-width: 767px) {
            width: auto !important;
            margin: 0 !important;
        }

        .content {
            margin-top: 90px;

            .hero {
                display: block;
                margin: 0 auto;
            }
        }
    }
}


/**
 * static pages
**/
.where-to-buy {
    > div {
        width: 85%;
    }
}

.where-to-buy-wrap {
    div.logo {
        padding-top: 22px;

        img {
            max-width: 144px;
        }
    }
}

.where-to-buy-content {
    padding: 10px 0 0 10px;

    ul {
        margin: 0;
        padding: 0;

        li {
            width: 45%;
            vertical-align: top;
            display: inline-block;
            margin: 6px 10px 0 0;
        }
    }
}

.content-wrap {
    dl {
        margin: 0 0 1em;
        padding: 0;
    }
}

.home {
    .content-wrap {
        padding: 5px 10px;

        @media only screen and (min-width: 768px) {
            padding: 20px;
        }
    }
}

.col1 {
    float: left;
    width: 75%;

    @media only screen and (max-width: 480px) {
        width: 100%;
    }
}

.col2 {
    float: right;
    width: 25%;

    @media only screen and (max-width: 480px) {
        width: 100%;
    }

    div {
        padding: 10px 0;
    }
}

.brown-dotted-border {
    border-top: 5px dotted #502912;
    /*border-image:url('border-image.png') 5 repeat;*/
    margin: 14px 0;
}

.what-we-bake-container {
    width: 100%;
    background-color: #FFF;
    border-radius: 10px;

    .what-we-bake-text {
        padding: 20px 20px 20px 29px;
        float: left;
        width: 306px;

        span {
            color: #5d231f;
            font-weight: 700;
            font-size: 1.1em;
        }

        a {
            display: block;
            padding-top: 8px;
            text-decoration: none;
            color: #c56d00;
            font-weight: 700;
            font-size: 1.1em;
        }

        @media only screen and (max-width: 767px) {
            width: 100%;
            padding: 15px;
            text-align: center;
        }
    }

    .what-we-bake-images {
        float: right;

        @media only screen and (max-width: 767px) {
            width: 100%;
            text-align: center;

            img {
                display: inline-block;
                border-radius: .75%;
            }
        }
    }
}

.full-width {
    width: 100%;
}

#header {
    position: relative;
}

#header {
    .container-fluid();
    padding: 0;

    .header-middle {
        .clearfix();
        position: relative;
        padding: 115px 0px 0px 0px;
    }
}

.header-social-container {
    .make-lg-column(6);
    .make-md-column(6);
    .make-sm-column(3);
    .make-xs-column(1);
}

.header-top-links-container {
    .make-lg-column(6);
    .make-md-column(6);
    .make-sm-column(9);
    .make-xs-column(10);
    text-align: right;
    padding-right: 30px;    
}

#header-top ul.header-top-links {
    margin-bottom: 0;
}

#header-top ul.header-top-links > li {
    list-style-type: none;
    display: inline-block;
}
ol.shipping-policy {
    li {
        padding: 15px;
    }
}
.map-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.hours {
    float: left !important;
    width: 50%;
}

.contact {
    float: left !important;
    width: 50%;
}

#footer {
    width: 100%;
    background: @yellow-orange url('../images/footer-dot.png') repeat-x top;
    font-size: 13px;

    ul {
        list-style-type: none;
        padding-left: 0px;
    }

    h3 {
        font-size: 15px;
    }

    .menu {
        a {
            color: rgba(255,255,255,0.7);
        }
    }
    p{
        margin: 0;
    }
    .footer-wrap {
        .clearfix();
        max-width: 990px;
        margin: 0 auto;
        padding: 28px 0 0;

        .menu {
            float: left;

            @media only screen and (max-width: 767px) {
                display: none;
            }
        }

        .call-us-now {
            float: right;
            color: @brown;
            font-weight: 700;
            font-size: 1.4em;

            @media only screen and (max-width: 767px) {
                text-align: center;
                float: none !important;
            }

            > span {
                color: @orange-dark;
            }
        }
    }

    .copyright {
        clear: both;
        text-align: center;
        padding: 35px 0 15px 0;

        @media only screen and (max-width: 767px) {
            margin-top: 25px;
        }

        > div {
            text-align: center;
            margin-top: 25px;
        }

        span {
            font-size: 0.825em;
        }
    }

    .social-container {
        ul {
            overflow: auto;

            li {
                list-style-type: none;
                float: left;

                a {
                    i {
                        background: #205D7A;
                        color: #fff;
                        width: 30px;
                        height: 30px;
                        border-radius: 20px;
                        font-size: 20px;
                        text-align: center;
                        margin-right: 10px;
                        padding-top: 15%;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            opacity: .8;
                        }

                        &.fa-facebook {
                            background: #3b5998;
                        }
                    }
                }
            }
        }
    }
}
    .header-social-container {
                ul {
            

            li {
                list-style-type: none;
                float: left;

                a {
                    i {
                        background: #205D7A;
                        color: #fff;
                        width: 30px;
                        height: 30px;
                        border-radius: 20px;
                        font-size: 20px;
                        text-align: center;
                        margin-right: 10px;
                        padding-top: 15%;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            opacity: .8;
                        }

                        &.fa-facebook {
                            background: #3b5998;
                        }
                    }
                }
            }
        }
    }
    .social-container {
        ul {
            overflow: auto;

            li {
                list-style-type: none;
                float: left;

                a {
                    i {
                        background: #205D7A;
                        color: #fff;
                        width: 30px;
                        height: 30px;
                        border-radius: 20px;
                        font-size: 20px;
                        text-align: center;
                        margin-right: 10px;
                        padding-top: 15%;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            opacity: .8;
                        }

                        &.fa-facebook {
                            background: #3b5998;
                        }
                    }
                }
            }
        }
    }