﻿@import "../bower_components/bootstrap/less/navbar.less";

#header-top {
    direction: ltr;
    color: #ccc;
    font: 400 13px/32px "Open Sans", sans-serif;
    height: 32px;
    top: 0;
    left: 0;
    width: 100%;
    /*min-width: 600px;*/
    z-index: 99999;
    background: #3F1C0A;

    a {
        color: #ccc;
        &:hover {
            color: rgba(204,204,204, 0.9);  
            transition: all .2s ease-in;
        }
    }
}

.fixed {
    position: fixed;
}

#nav {
    .clearfix();



    > div {
        ul {
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;
                position: relative;
                display: block;
            }
        }
    }
}


#menu-primary {
    li#menu-item-404 {
        a {
            width: 284px;
            height: 245px;
            margin: -87px 0px 0px 28px;
            background: transparent url("http://thehappymixer.com/wp/wp-content/themes/TheHappyMixer2.0/images/logo.png") no-repeat scroll center center / 284px 245px;
            color: transparent;
            border: 0px none;
            padding: 0px;
        }
    }
}

#menu-item-329 {
    margin-left: 7px;
}


#menu-primary {
    > li.first-child {
        margin-left: 20px;
    }
}

.nav-primary-wrap {
    position: relative;

    .left-ribbon {
        position: absolute;
        left: -51px;
        width: 101px;
        height: 62px;
        background: url("../images/nav-ribbon-left.png") no-repeat scroll 0% 0% transparent;

        @media only screen and (max-width: 767px) {
            display: none;
        }
    }

    .right-ribbon {
        position: absolute;
        right: -51px;
        top: 0;
        width: 101px;
        height: 62px;
        background: url("../images/nav-ribbon-right.png") no-repeat scroll 0% 0% transparent;

        @media only screen and (max-width: 767px) {
            display: none;
        }
    }
}


.collapse {
    display: none;
}

.navbar-header {
    background-color: #3F1C0A;
    cursor: pointer;
    width: 100%;

    a {
        color: #FFF;

        &:hover, &:focus, &:visited {
            color: #FFF;
        }
    }
}

.navbar-collapse {
    @media (max-width: 767px) {
        border-top: 1px dashed #efefef;
    }
}

.navbar-toggle {
    float: left;
    margin-left: 10px;
    margin-right: 0;

    .icon-bar {
        background-color: #FFF;
    }
}

.navbar-nav {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #3F1C0A;

    @media only screen and (min-width: 768px) {
        height: 58px;
    }

    > li {
        padding: 0px;
        /*min-width: 100px;*/
        /*text-align: center;*/
        display: inline-block;
        vertical-align: top;

        @media only screen and (max-width: 767px) {
            padding-left: 10px;
        }

        &:first-child {
            @media only screen and (max-width: 767px) {
                margin-top: 0 !important;
                border-top: none;
            }
        }

        @media only screen and (min-width: 768px) {
            /*
                &:first-child {
                margin-left: 42px;
            }

            &:nth-child(2n+2) {
                margin-left: 40px;
            }

            &:nth-child(3n+3) {
                margin-left: 295px;

                @media (min-width: 768px) and (max-width: 899px) {
                    margin-left: 225px;
                }
            }

            &:nth-child(4n) {
                margin-left: 19px;
            }

            &:nth-child(5n) {
                margin-left: 9px;
            }                        
            */
        }

        @media (max-width: 767px) {
            border-top: 1px solid #efefef;
            border-left: none;
            border-right: none;
        }

        > a {
            text-decoration: none;
            color: #fff;
            font-weight: 700;
            display: block;
            padding: 20px;
            font-size: 18px;
            position: relative;

            @media only screen and (max-width: 767px) {
                font-size: 16px;
                padding: 10px;
                font-weight: 500;
            }

            @media (min-width: 768px) and (max-width: 899px) {
                font-size: 16px;
            }

            &:hover, &:focus {
                color: #f3bc63;
                background-color: transparent !important;
                transition: all 0.3s ease-in;
            }
        }
    }
}

ul.sub-menu {
    width: 275px;
    padding: 10px !important;
    > li {
        float: left;
        width: 50%;        
        > a {
            text-align: center;
            @media only screen and (max-width: 767px) {
                font-size: 16px;
                padding: 10px;
                font-weight: 500;
            }

            @media (min-width: 768px) and (max-width: 899px) {
                font-size: 16px;
            }
        }
    }
}
/*ul.dropdown-menu {
    width: 100%;
    padding: 0;

    li {
        @media (max-width: 767px) {
            border-bottom: 1px solid #BE4662;
            border-top: 1px solid #8B112D;
            border-left: none;
            border-right: none;
        }

        a {
            color: #502912 !important;
            display: block;
            padding: 20px 0;
            background-color: @white;
            text-transform: uppercase;
            font-size: 1.4em;
            height: 60px;
            font-family: "Open Sans";
            text-align: center;

            @media (min-width: 768px) and (max-width: 991px) {
                font-size: 1.2em;
            }

            @media (max-width: 767px) {
                font-size: 1em;
                height: 30px;
                padding: 20px 15px;
                line-height: 0px;
                text-align: left;
            }

            &:hover, &:focus {
                color: @white !important;
                text-decoration: none;
                background-color: #BE4662 !important;
                background-image: none;
            }
        }
    }
}*/

.nav {
    .open {
        > a {
            border-color: none;
            background-color: #BE4662;

            &:hover, &:focus {
                border-color: none;
                background-color: #BE4662;
            }
        }
    }
}

.navbar-nav {
    ul {
        li {
            a {
                text-decoration: none;
                color: #fff;
                font-weight: 700;
                display: block;
                padding: 20px;
                font-size: 18px;
            }
        }
    }
}



footer {
    .footer-container {
        .menu {
            float: left;

            ul {
                padding-left: 0px;

                li {
                    display: inline-block;
                    list-style-type: none;

                    a {
                        color: #5d231f;
                        font-weight: 700;
                        text-decoration: none;
                        padding: 0 20px;
                        font-size: 1.1em;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
