@import "../bower_components/bootstrap/less/type.less";

h1, .h1 { font-size: floor(@font-size-base * 1.8); }
h2, .h2 { font-size: floor(@font-size-base * 1.6); }
h3, .h3 { font-size: ceil(@font-size-base * 1.4); }
h4, .h4 { font-size: ceil(@font-size-base * 1.2); }
h5, .h5 { font-size:  @font-size-base; }
h6, .h6 { font-size: ceil(@font-size-base * 0.85); }