@import "../bower_components/bootstrap/less/variables.less";

// Define Colors
@white:         #FFFFFF;
@black:         #000000;
@brown:         #5d231f;
@orange:        #F3BC63;
@orange-dark:   #C97700;
@beige:         #f6f2d1;
@yellow-orange: #ebbc5a;
@beige-dark:    #c56d00;

@headings-color:    @brown;

// Define Fonts
@primary-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
@secondary-font: "Helvetica", Arial, Sans-serif;

@primary-font-size: 14px;

@headings-font-family:  @secondary-font;

// Media queries breakpoints
// --------------------------------------------------
@screen-phone-320:           320px;

@screen-xs:                  480px;
@screen-phone-480:               @screen-xs;

// Small screen / tablet
@screen-sm:                  768px;
@screen-tablet-768:              @screen-sm;

// Medium screen / desktop
@screen-md:                  992px;
@screen-desktop-992:             @screen-md;

// Large screen / wide desktop
@screen-lg:                  1200px;
@screen-desktop-1200:          @screen-lg;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm - 1);
@screen-sm-max:              (@screen-md - 1);
@screen-md-max:              (@screen-lg - 1);

