mark {
    background: transparent !important;
    font-weight: 700;
}
a {
    color: #333;

    &:hover {
        text-decoration: none;
        color: #428bca;
    }
}

.fa-shopping-cart {
    font-size: 1.2em;
}

.product_title {
    border-bottom: 1px solid rgba(93,35,31,0.1);
    padding-bottom: 10px;
}

.orderby {
    display: none;
}

img {
    display: block;
}

/**
 * Buttons
 **/
button.added:after,
input[type="button"].added:after,
input[type="reset"].added:after,
input[type="submit"].added:after,
.button.added:after,
.added_to_cart.added:after {
    content: "\f00c";
    font-family: "FontAwesome";
    margin-left: .53em;
}

.button {
    display: inline-block;
    padding: 3px 10px;
    border: 0px none;
    background: #F3B457 none repeat scroll 0% 0%;
    font-size: 13px;
    white-space: nowrap;
    border-radius: 3px;
    transition: all 0.2s linear 0s;
    font-weight: 600;
    margin: 0 auto;
    color: #fff !important;
    text-align: center;

    &:hover, &:focus {
        background: #428bca;
        color: #FFF !important;
        text-decoration: none;
        cursor: pointer;
    }
}

.apply-coupon {
    display: block;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.button-medium {
}

.button-large {
}

.checkout-button {
    padding: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
}

.single_add_to_cart_button {
    padding: 6px 10px;
    font-size: 15px;
}

.remove-item {
    font-size: 12px;
    position: relative;
    display: block;
    margin-top: 5px;

    &:hover {
        text-decoration: none;
    }
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    color: #FFF !important;
    background-color: #428bca;
}

.product-actions {
    padding: 0 10px;

    a.added_to_cart {
        display: none;
    }
}

/**
 *  Product Detail Layout 
 **/
.products {
    margin: 20px 0;
    padding-left: 0;

    li {
        float: left;
        text-align: center;
        overflow: hidden;
        margin-bottom: 40px;

        @media only screen and (max-width: 479px) {
            clear: left;
        }

        @media only screen and (min-width: 480px) and (max-width: 768px) {
            width: 44%;
            margin-right: 3%;

            &:nth-child(2n+1) {
                clear: left;
            }
        }

        @media only screen and (min-width: 1122px) {
            width: 340px;
        }

        @media only screen and (min-width: 768px) {
            margin-right: 1.2%;
            width: 32.1101%;

            &:nth-child(2n+1) {
                clear: none;
            }

            &:nth-child(3n) {
                margin-right: 0px;
            }

            &:nth-child(3n+1) {
                clear: left;
            }
        }
    }
}

p.price {
    font-weight: 700;
    font-size: 18px;
}

div.images {
    padding-left: 0;
}

div.entry-summary {
    padding: 0px;

    .product-purchase-details-box, form.cart {
        padding: 5px 0;
    }

    button.single_add_to_cart_button {
        margin-top: 15px;
    }

    .quantity {
        label {
            display: block;
        }

        input.qty {
            width: 55px;
            height: 36px;
            margin: 4px 4px 4px 0px;
            font-size: 16px;
            float: left;
        }

        .increment-quantity {
            border-radius: 3px;
            position: relative;
            float: left;
            width: 36px;
            height: 35px;
            margin: 4px 0 0 5px;
            background: #CFBAAD;
            -webkit-user-select: none;
            text-shadow: none;
            vertical-align: middle;
            cursor: pointer;

            span {
                position: absolute;
                font-size: 27px;
                font-weight: 700;
                color: #fff;

                &.plus {
                    top: 5px;
                    left: 11px;
                }

                &.minus {
                    top: 3px;
                    left: 14px;
                }
            }
        }
    }
}

.product-image {
    position: relative;
    display: inline-block;
    border-radius: 2px;

    &:before {
        z-index: 2;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(0,0,0,0.1);
    }

    &:hover {
        &:before {
            border-color: rgba(0,0,0,0.2);
            transition: all 0.2s ease-in;
        }
    }
}

/*
.product-category {
    a {
        &:before {
            z-index: 2;
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border: 1px solid rgba(0,0,0,0.1);
        }

        &:hover {
            &:before {
                border-color: rgba(0,0,0,0.2);
                transition: all 0.2s ease-in;
            }
        }
    }
}
*/

.product {
    .product-actions {
        a {
            display: inline-block;

            &:hover {
                text-decoration: none;
            }
        }

        span.price {
            display: block;
        }
    }

    .product-image {
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }

    img {
        height: auto;
        display: block;
        width: 100%;
        margin-bottom: 15px;

        &:before {
            z-index: 2;
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            border: 1px solid rgba(0, 0, 0, 0.4);
            box-sizing: border-box;
            border-radius: 2px;
        }
    }

    .woocommerce-main-image img {
        width: 100%;
        max-width: 445px;
        max-height: 445px;
        margin: 0 auto;
    }

    h3 {
        font-size: 14px;
    }

    .product-actions {

        h3 {
            margin-bottom: 5px;

            a {
                color: #333;

                &:hover {
                    color: #428bca;
                }
            }
        }

        span {
            &.amount {
            }
        }

        .button {
            margin: 8px auto;
            color: #fff;
        }
    }
}

/**
 * Related Products
 **/
.related {
    .products {
        padding-left: 0;
    }

    .product-actions {
        .button {
            font-size: 12px;
            /*width: 50%;*/
        }
    }

    li {
        float: left;
        text-align: center;
        overflow: hidden;
        margin-bottom: 40px;


        @media only screen and (min-width: 480px) and (max-width: 768px) {
            width: 47.8006%;
            margin-right: 4.399%;

            &:nth-child(2n+1) {
                clear: left;
            }
        }

        @media only screen and (min-width: 1122px) {
            width: 340px;
        }

        @media only screen and (min-width: 768px) {
            margin-right: 2.5%;
            width: 20.1101%;


            &:nth-child(3n) {
                margin-right: 0px;
            }
        }
    }
}

/*** cart */
.order-total {
    th, td {
        background-color: #F6F2EF;
    }
}

.shop_table {
    width: 100%;
    margin: 15px auto 30px;
    border-collapse: separate;
    border-radius: 5px;
    border: 2px solid #CFBAAD;

    th {
        padding: 10px;
        border-right: 1px solid #CFBAAD;

        &:last-child {
            border-right: 0;
        }
    }

    td {
        padding: 10px;
        border-right: 1px solid #CFBAAD;

        &:last-child {
            border-right: 0;
        }
    }

    tbody {
        tr {
            &:last-child {
                background: #F6F2EF;
            }
        }
    }

    thead {
        th {
            border-bottom: 1px solid #CFBAAD;
            background: #F6F2EF;
            font-size: 13px;
            font-weight: bold;
            line-height: 1.4;
            text-transform: capitalize;
            white-space: nowrap;

            &:first-child {
                border-top-left-radius: 4px;
            }

            &:last-child {
                border-top-right-radius: 4px;
            }
        }
    }

    tfoot {
        th, td {
            border-top: 1px solid #CFBAAD;
            background: rgba(246,242,239, 1);
            font-size: 13px;
            font-weight: normal;
            line-height: 1.4;
        }

        tr {
            &:last-child {
                background: rgba(246,242,239, 1);

                th {
                    font-weight: bold;
                }

                td {
                    font-weight: bold;
                }
            }
        }
    }

    tbody {
        tr {
            &:last-child {
                td {
                    border-bottom: 0;
                }

                th {
                    border-bottom: 0;
                }
            }

            td {
                border-bottom: 2px solid #CFBAAD;
                vertical-align: top;
            }

            th {
                border-bottom: 2px solid #CFBAAD;
                vertical-align: top;
            }

            &.cart_item {
                background-color: #fff;
            }
        }
    }

    td {
        /*border-right: 1px solid #CFBAAD;*/
        &.product-quantity {
            div.quantity > label {
                display: none;
            }

            div.increment-quantity {
                display: none;
            }
        }
    }

    tr {
        &:last-child {
            td {
                /*border-bottom: 0;*/
            }
        }

        td {
            /*border-bottom: 2px solid #CFBAAD;*/
            vertical-align: top;
        }
    }

    .quantity {
        input.qty {
            width: 50px;
        }
    }
}

.coupon {
    border-radius: 5px;
    border: 1px solid #CFBAAD;
    padding: 5px 15px 15px 15px;
}

.cart_totals table {
    width: 100%;
}

.wc-proceed-to-checkout {
    margin-top: 15px;
}

.coupon, .cart-collaterals {
    margin: 8px auto 30px;
}

.cart-item-wrap {
    position: relative;
    width: 100%;
    min-height: 69px;
    padding-left: 115px;

    .product-image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 59px;
    }
}

.header-top-links {
    li {
        &.header-account {

            a {
                display: inline-block;

                &:after {
                    content: "|";
                    margin: 0 7px;
                }
            }
        }

        &:last-child {
            padding-right: 0;
        }

        a {
            &:hover {
                color: #f3bc63;
                transition: all 0.3s ease-in;
            }
        }
    }
}

.site-header-cart-links {
    img {
        cursor: pointer;
    }

    a:hover {
        color: #333;
        text-decoration: none;
    }
}

.no-touch {
    #site-header-cart {
        ul {
        }
    }
}

.woocommerce-tabs {
    padding-top: 40px;

    ul.tabs {
        padding-left: 5px;

        li {
            a {
                color: inherit;
            }

            &.active {
                font-weight: 700;
                background: #fff;
                border-bottom: none;
            }

            display: inline-block;
            background: #eee;
            padding: 10px;
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
            margin-left: -5px;
        }
    }
}

.panel.entry-content {
    padding: 20px;
    margin-top: -11px;
    border: 1px solid #ccc;
    border-radius: 0;

    h2 {
        display: none;
    }
}

.shop_attributes {
    td {
        p {
            padding-left: 8px;
            margin: 0 !important;
        }
    }
}
a.pp_expand { 
    display: none !important;
}
#site-header-cart {

    ul {
        list-style-type: none;
        padding: 0;
        position: relative;
        margin-bottom: 0;
        text-align: left;
    }

    .site-header-cart-wrapper {
        display: none;
    }

    .count {
        background-color: #fff;
        border-radius: 50%;
        color: #000;
        font-weight: bold;
        height: 16px;
        line-height: 16px;
        text-align: center;
        left: 50px;
        width: 16px;
        font-size: 13px;
        position: absolute;
        top: 7px;
    }

    .cart_list {
        li {
            position: relative;
            min-height: 70px;
            padding: 10px 40px 10px 0px;
            border-bottom: 1px solid rgba(187, 187, 187, 0.2);
            font-size: 13px;
            line-height: 1.35;


            &.summary {
                min-height: 20px;
                padding: 5px;
                font-size: 16px;
                font-weight: 700;
            }


            &.empty {
                border-bottom: none;
                font-size: 15px;
                min-height: 15px;
                text-align: center;
                width: 100%;
                padding: 10px;
            }

            img {
                width: 85px;
                height: 50px;
                border-radius: 2px;
                position: absolute;
                left: 15px;
                top: 10px;
            }

            &.item > a, span.quantity {
                display: block;
                width: 195px;
                margin-bottom: 4px;
                margin-left: 110px;

                &:hover {
                    text-decoration: none;
                    transition: all 0.3s ease-in-out;
                    color: #428bca !important;
                }
            }

            span.quantity {
                font-size: 12px;
            }
        }
    }
}

.product_list_widget {
    li.item {
        a {
            color: #3F1C0A !important;
            font-weight: 700;
        }
    }
}

.site-header-cart-wrapper {
    z-index: 100;

    @media screen and (min-width: 481px) {
        position: absolute;
        right: -131px;
        top: 30px;
        width: 350px;
        padding-top: 10px;
    }

    .widget_shopping_cart {
        background-color: #fff;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: -6px;
            left: 50%;
            width: 0;
            height: 0;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            border-bottom: 8px solid #fff;
            border-top: none;

            @media screen and (min-width: 481px) {
                left: 50%;
                margin-left: -5px;
            }
        }

        .widget_shopping_cart_content {
            padding: 10px;
            position: relative;
            text-align: left;
            color: #3F1C0A;

            .remove-item {
                color: #5D231F !important;
                position: absolute;
                right: 10px;
                top: 6px;
                display: inline-block !important;
                width: auto !important;
                margin-left: 0px !important;
            }

            p.subtotal {
                text-align: left;
            }

            ul {
                &.cart_list {
                    li {
                        padding: 0px;
                    }
                }
            }
        }
    }
}

//forms
.woocommerce {
    li {
        list-style-type: none;
    }
}

#ship-to-different-address-checkbox {
    height: 15px;
    width: 15px;
}

.input-text,
.state_select {
    color: #2e2e2e;
    padding: 0 0.5em;
    line-height: 2em;
    background: #fff;
    outline: none;
    width: 210px;

    @media only screen and (max-width: 767px) {
        width: 100%;
        height: 40px;
    }
}

.woocommerce-message {
    margin-bottom: 0;
    padding: 15px;
    text-align: center;
    position: relative;
    z-index: 13;
    color: #8a6d3b;
    font-weight: 700;
    background-color: #fcf8e3;
    border-color: #faebcc;
    margin-bottom: 20px;
}

.woocommerce-success {
    margin-bottom: 0;
    padding: 15px;
    text-align: center;
    position: relative;
    z-index: 13;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    margin-bottom: 20px;
}

.woocommerce-error {
    margin-bottom: 0;
    padding: 15px;
    text-align: center;
    position: relative;
    z-index: 13;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    margin-bottom: 20px;
}

form.login, form.lost_reset_password {
    label {
        width: 150px !important;

        &.rememberme {
            @media only screen and (min-width: 767px) {
                margin-left: 154px;
            }
        }
    }

    input[type="submit"] {
        @media only screen and (min-width: 767px) {
            display: block;
            margin-left: 155px;
        }
    }
}

.woocommerce-checkout {
    form.login {
        margin-top: 10px;
        padding: 20px;
        background-color: #efefef;
    }

    create-account {
        margin-top: 10px;
        padding: 20px;
        background-color: #efefef;
    }
}

.woocommerce-billing-fields,
.order-details {
    margin-top: 40px;
}

form {
    label {
        display: inline-block;
    }

    &.login {
        .form-row label {
            width: 150px;
        }
    }

    .form-row label {
        width: 200px;
    }
}

#shipping_method {
    padding-left: 0;
}

#billing_country_field, #shipping_country_field {
    display:none;
}

textarea, textarea.input-text {
    width: 100%;
    height: 120px;
    padding: 1em;
}

form #billing_address_2,
form #shipping_address_2 {
    margin-left: 200px;

    @media only screen and (max-width: 767px) {
        margin-left: 0;
    }
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    float: left;
    margin-left: -20px;
}

form.checkout {
    label {
        display: inline-block;
    }
}

#payment {
    margin-top: 40px;

    ul {
        margin: 0 0 20px 0;
        padding: 0;
        border: 1px solid #CFBAAD;
        border-radius: 6px;

        li {
            margin: 0;
            padding: 20px 20px 0;
            list-style-type: none;

            label {
                width: 230px;
                margin-left: 5px;
            }

            .payment_box {
                margin-top: 10px;
                border-top: 1px solid #CFBAAD;
                background-color: #f2f2f2;
                padding: 20px;
                margin-left: -20px;
                margin-right: -20px;
            }
        }
    }
}

#payment ul li input[type="radio"],
#payment ul li input[type="checkbox"] {
    vertical-align: top;
}
