@charset "UTF-8";
/* CSS Document */
body {
    background: url("../images/background-wood.jpg");
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: #5D231F;
}

p {
    line-height: 22px;
}

.mobile {
    display: none;
}

.non-mobile {
    display: inherit;
}

.beige-bg {
    background-color: #F6F2D1;
}

.page-wrap, .content-container {
  width: 920px;
    margin: 0px auto;
}

.clearwrap:after {
  content: "";
  display: table;
  clear: both;
}

.clear {
    clear: both;
}

.page .page-wrap {
    background-color: #F6F2D1;
    -webkit-box-shadow: 12px 0 15px -4px rgba(80,41,18,.8),-12px 0 8px -4px rgba(80,41,18,.8);
    -moz-box-shadow: 12px 0 15px -4px rgba(80,41,18,.8),-12px 0 8px -4px rgba(80,41,18,.8);
    box-shadow: 12px 0 15px -4px rgba(80,41,18,.8),-12px 0 8px -4px rgba(80,41,18,.8);    
}

#header {
    width: 100%;
    position: relative;    
}
.logo {
    text-align: center;
    z-index: 2;
}
.logo a {    
    height: 100%;
}
.logo img {
    height: auto;
    width: 284px;    
}
#phone-button a {
    display: block;
    height: 30px;
}
#menu {
    /*background: #502912 url('../images/ribbon_03.png') no-repeat  0 0;*/
    background-color: #502912 ;
    height: 56px;
    width: 100%;
}
#menu ul {
    margin: 0; 
    padding: 0;
}
#menu ul li {
    display: inline-block;
}
#menu ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  display: block;
  padding: 20px;
  font-size: 18px;
}
#menu ul li a:hover {
    color: #f3bc63;
}
#menu .mobile-menu {
  z-index: 9999;
  
}

#header .hamburger-content-container {
    position: relative;
    display: block;
    width: 50px;
    height: 48px;
    float: left;
}
#header .hamburger {
    backface-visibility: hidden;
    transition: 300ms;
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #dddfe4;
}
#header .hamburger:after {
    top: 6px;
    transition: 300ms;
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #dddfe4;
}
#header .hamburger:before {
    top: -6px;
    transition: 300ms;
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #dddfe4;  
}
#content {
    /*padding: 0 20px;*/
}
#content img {
    /*margin: 0 0 15px 15px;*/
}
img.alignright {
    float: right;
}
#footer {
    width: 100%;
    background-color: #ebbc5a;
}
#footer > div {
    padding-top: 10px;
}
.footer-content {    
    border-top: 6px dotted #F3D796;
}
.footer-content ul {
    margin-top: 0;
}
.footer-content ul li {
    display: inline-block;
    list-style-type: none;
}
.footer-content ul li a {
      color: #5d231f;
      font-weight: 700;
      text-decoration: none;
      padding: 0 20px;
      font-size: 1.1em;
}
/*Media Query: max-width 1200
  content-container: 920px */
  @media only screen and (max-width: 1200px) {
      .page-wrap, 
      .content-container {
          width: 920px;
      }
  }
/*Media Query: max-width 992
  content-container: 750px */
  @media only screen and (max-width: 992px) {
      .page-wrap, 
      .content-container {
          width: 690px;
      }      
      .logo img {
        height: auto;
        width: 250px;
    }
  }
/*Media Query: max-width 767
  content-container: 440px */
  @media only screen and (max-width: 767px) {
      .page-wrap, 
      .content-container {
          width: 620px;
      }
      .mobile {
        display: inherit;
      }
      .non-mobile {
        display: none;
      }
      .logo img {
        padding: 15px 0 0 0;
        width: 200px;
      }

      #menu ul li {
        display: block;   
        background-color: #502912;     
      }
      .navbar-collapse {
        padding: 0 !important;
      }

  }
/*Media Query: max-width 480
  content-container: 100% */
  @media only screen and (max-width: 479px) {
      .page-wrap, 
      .content-content-container {
          width: 100%;
          padding: 0 !important;
      }
      .mobile {
        display: inherit;
      }
      .non-mobile {
        display: none;
      }
      #content img {
        width: 100%;
        height: auto;
      }
      #content p {
        width: 100%;
      }
      .footer-content ul {
        display: none;
      }
  }


  @media only screen and (min-width: 768px) {
     #menu-header {
        display: none;
     }
  }

