﻿/*
.nav-primary {
    background-color: #502912;
}

.nav-primary a {
    color: #FFFFFF;
}

.nav-primary button > span {
    color: #FFFFFF;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;    
}

.navbar-toggle .icon-bar {
    color: #FFFFFF;
}

*/