﻿@media screen and (max-width: 480px) {

    img.logo {
        padding: 15px 0;
    }

}

@media screen and (max-width: 767px) {
    .mobile {
        display: inherit;
    }

    .non-mobile {
        display: none;
    }

    .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .footer div.menu ul {
        list-style-type: none;
        padding-left: 0;
    }

    .footer div.menu li:first-child {
        padding-top: 10px;
    }

    .footer div.menu li {
        line-height: 24px;
    }
}
