/*! normalize.css v3.0.0 | MIT License | git.io/normalize */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background: 0 0
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:768px) {
    .container {
        width: 675px
    }
}

@media (min-width:992px) {
    .container {
        width: 790px
    }
}

@media (min-width:1200px) {
    .container {
        width: 960px
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: left
}

.col-xs-12 {
    width: 100%
}

.col-xs-11 {
    width: 91.66666666666666%
}

.col-xs-10 {
    width: 83.33333333333334%
}

.col-xs-9 {
    width: 75%
}

.col-xs-8 {
    width: 66.66666666666666%
}

.col-xs-7 {
    width: 58.333333333333336%
}

.col-xs-6 {
    width: 50%
}

.col-xs-5 {
    width: 41.66666666666667%
}

.col-xs-4 {
    width: 33.33333333333333%
}

.col-xs-3 {
    width: 25%
}

.col-xs-2 {
    width: 16.666666666666664%
}

.col-xs-1 {
    width: 8.333333333333332%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-pull-11 {
    right: 91.66666666666666%
}

.col-xs-pull-10 {
    right: 83.33333333333334%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-8 {
    right: 66.66666666666666%
}

.col-xs-pull-7 {
    right: 58.333333333333336%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-5 {
    right: 41.66666666666667%
}

.col-xs-pull-4 {
    right: 33.33333333333333%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-2 {
    right: 16.666666666666664%
}

.col-xs-pull-1 {
    right: 8.333333333333332%
}

.col-xs-pull-0 {
    right: 0
}

.col-xs-push-12 {
    left: 100%
}

.col-xs-push-11 {
    left: 91.66666666666666%
}

.col-xs-push-10 {
    left: 83.33333333333334%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-8 {
    left: 66.66666666666666%
}

.col-xs-push-7 {
    left: 58.333333333333336%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-5 {
    left: 41.66666666666667%
}

.col-xs-push-4 {
    left: 33.33333333333333%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-2 {
    left: 16.666666666666664%
}

.col-xs-push-1 {
    left: 8.333333333333332%
}

.col-xs-push-0 {
    left: 0
}

.col-xs-offset-12 {
    margin-left: 100%
}

.col-xs-offset-11 {
    margin-left: 91.66666666666666%
}

.col-xs-offset-10 {
    margin-left: 83.33333333333334%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-8 {
    margin-left: 66.66666666666666%
}

.col-xs-offset-7 {
    margin-left: 58.333333333333336%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-5 {
    margin-left: 41.66666666666667%
}

.col-xs-offset-4 {
    margin-left: 33.33333333333333%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-2 {
    margin-left: 16.666666666666664%
}

.col-xs-offset-1 {
    margin-left: 8.333333333333332%
}

.col-xs-offset-0 {
    margin-left: 0
}

@media (min-width:768px) {

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.66666666666666%
    }

    .col-sm-10 {
        width: 83.33333333333334%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.66666666666666%
    }

    .col-sm-7 {
        width: 58.333333333333336%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-5 {
        width: 41.66666666666667%
    }

    .col-sm-4 {
        width: 33.33333333333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.666666666666664%
    }

    .col-sm-1 {
        width: 8.333333333333332%
    }

    .col-sm-pull-12 {
        right: 100%
    }

    .col-sm-pull-11 {
        right: 91.66666666666666%
    }

    .col-sm-pull-10 {
        right: 83.33333333333334%
    }

    .col-sm-pull-9 {
        right: 75%
    }

    .col-sm-pull-8 {
        right: 66.66666666666666%
    }

    .col-sm-pull-7 {
        right: 58.333333333333336%
    }

    .col-sm-pull-6 {
        right: 50%
    }

    .col-sm-pull-5 {
        right: 41.66666666666667%
    }

    .col-sm-pull-4 {
        right: 33.33333333333333%
    }

    .col-sm-pull-3 {
        right: 25%
    }

    .col-sm-pull-2 {
        right: 16.666666666666664%
    }

    .col-sm-pull-1 {
        right: 8.333333333333332%
    }

    .col-sm-pull-0 {
        right: 0
    }

    .col-sm-push-12 {
        left: 100%
    }

    .col-sm-push-11 {
        left: 91.66666666666666%
    }

    .col-sm-push-10 {
        left: 83.33333333333334%
    }

    .col-sm-push-9 {
        left: 75%
    }

    .col-sm-push-8 {
        left: 66.66666666666666%
    }

    .col-sm-push-7 {
        left: 58.333333333333336%
    }

    .col-sm-push-6 {
        left: 50%
    }

    .col-sm-push-5 {
        left: 41.66666666666667%
    }

    .col-sm-push-4 {
        left: 33.33333333333333%
    }

    .col-sm-push-3 {
        left: 25%
    }

    .col-sm-push-2 {
        left: 16.666666666666664%
    }

    .col-sm-push-1 {
        left: 8.333333333333332%
    }

    .col-sm-push-0 {
        left: 0
    }

    .col-sm-offset-12 {
        margin-left: 100%
    }

    .col-sm-offset-11 {
        margin-left: 91.66666666666666%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333333334%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-8 {
        margin-left: 66.66666666666666%
    }

    .col-sm-offset-7 {
        margin-left: 58.333333333333336%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-5 {
        margin-left: 41.66666666666667%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333333333%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-2 {
        margin-left: 16.666666666666664%
    }

    .col-sm-offset-1 {
        margin-left: 8.333333333333332%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }
}

@media (min-width:992px) {

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.66666666666666%
    }

    .col-md-10 {
        width: 83.33333333333334%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-8 {
        width: 66.66666666666666%
    }

    .col-md-7 {
        width: 58.333333333333336%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666666666667%
    }

    .col-md-4 {
        width: 33.33333333333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.666666666666664%
    }

    .col-md-1 {
        width: 8.333333333333332%
    }

    .col-md-pull-12 {
        right: 100%
    }

    .col-md-pull-11 {
        right: 91.66666666666666%
    }

    .col-md-pull-10 {
        right: 83.33333333333334%
    }

    .col-md-pull-9 {
        right: 75%
    }

    .col-md-pull-8 {
        right: 66.66666666666666%
    }

    .col-md-pull-7 {
        right: 58.333333333333336%
    }

    .col-md-pull-6 {
        right: 50%
    }

    .col-md-pull-5 {
        right: 41.66666666666667%
    }

    .col-md-pull-4 {
        right: 33.33333333333333%
    }

    .col-md-pull-3 {
        right: 25%
    }

    .col-md-pull-2 {
        right: 16.666666666666664%
    }

    .col-md-pull-1 {
        right: 8.333333333333332%
    }

    .col-md-pull-0 {
        right: 0
    }

    .col-md-push-12 {
        left: 100%
    }

    .col-md-push-11 {
        left: 91.66666666666666%
    }

    .col-md-push-10 {
        left: 83.33333333333334%
    }

    .col-md-push-9 {
        left: 75%
    }

    .col-md-push-8 {
        left: 66.66666666666666%
    }

    .col-md-push-7 {
        left: 58.333333333333336%
    }

    .col-md-push-6 {
        left: 50%
    }

    .col-md-push-5 {
        left: 41.66666666666667%
    }

    .col-md-push-4 {
        left: 33.33333333333333%
    }

    .col-md-push-3 {
        left: 25%
    }

    .col-md-push-2 {
        left: 16.666666666666664%
    }

    .col-md-push-1 {
        left: 8.333333333333332%
    }

    .col-md-push-0 {
        left: 0
    }

    .col-md-offset-12 {
        margin-left: 100%
    }

    .col-md-offset-11 {
        margin-left: 91.66666666666666%
    }

    .col-md-offset-10 {
        margin-left: 83.33333333333334%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-8 {
        margin-left: 66.66666666666666%
    }

    .col-md-offset-7 {
        margin-left: 58.333333333333336%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-5 {
        margin-left: 41.66666666666667%
    }

    .col-md-offset-4 {
        margin-left: 33.33333333333333%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-2 {
        margin-left: 16.666666666666664%
    }

    .col-md-offset-1 {
        margin-left: 8.333333333333332%
    }

    .col-md-offset-0 {
        margin-left: 0
    }
}

@media (min-width:1200px) {

    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left
    }

    .col-lg-12 {
        width: 100%
    }

    .col-lg-11 {
        width: 91.66666666666666%
    }

    .col-lg-10 {
        width: 83.33333333333334%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-8 {
        width: 66.66666666666666%
    }

    .col-lg-7 {
        width: 58.333333333333336%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-5 {
        width: 41.66666666666667%
    }

    .col-lg-4 {
        width: 33.33333333333333%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-2 {
        width: 16.666666666666664%
    }

    .col-lg-1 {
        width: 8.333333333333332%
    }

    .col-lg-pull-12 {
        right: 100%
    }

    .col-lg-pull-11 {
        right: 91.66666666666666%
    }

    .col-lg-pull-10 {
        right: 83.33333333333334%
    }

    .col-lg-pull-9 {
        right: 75%
    }

    .col-lg-pull-8 {
        right: 66.66666666666666%
    }

    .col-lg-pull-7 {
        right: 58.333333333333336%
    }

    .col-lg-pull-6 {
        right: 50%
    }

    .col-lg-pull-5 {
        right: 41.66666666666667%
    }

    .col-lg-pull-4 {
        right: 33.33333333333333%
    }

    .col-lg-pull-3 {
        right: 25%
    }

    .col-lg-pull-2 {
        right: 16.666666666666664%
    }

    .col-lg-pull-1 {
        right: 8.333333333333332%
    }

    .col-lg-pull-0 {
        right: 0
    }

    .col-lg-push-12 {
        left: 100%
    }

    .col-lg-push-11 {
        left: 91.66666666666666%
    }

    .col-lg-push-10 {
        left: 83.33333333333334%
    }

    .col-lg-push-9 {
        left: 75%
    }

    .col-lg-push-8 {
        left: 66.66666666666666%
    }

    .col-lg-push-7 {
        left: 58.333333333333336%
    }

    .col-lg-push-6 {
        left: 50%
    }

    .col-lg-push-5 {
        left: 41.66666666666667%
    }

    .col-lg-push-4 {
        left: 33.33333333333333%
    }

    .col-lg-push-3 {
        left: 25%
    }

    .col-lg-push-2 {
        left: 16.666666666666664%
    }

    .col-lg-push-1 {
        left: 8.333333333333332%
    }

    .col-lg-push-0 {
        left: 0
    }

    .col-lg-offset-12 {
        margin-left: 100%
    }

    .col-lg-offset-11 {
        margin-left: 91.66666666666666%
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333333334%
    }

    .col-lg-offset-9 {
        margin-left: 75%
    }

    .col-lg-offset-8 {
        margin-left: 66.66666666666666%
    }

    .col-lg-offset-7 {
        margin-left: 58.333333333333336%
    }

    .col-lg-offset-6 {
        margin-left: 50%
    }

    .col-lg-offset-5 {
        margin-left: 41.66666666666667%
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333333333%
    }

    .col-lg-offset-3 {
        margin-left: 25%
    }

    .col-lg-offset-2 {
        margin-left: 16.666666666666664%
    }

    .col-lg-offset-1 {
        margin-left: 8.333333333333332%
    }

    .col-lg-offset-0 {
        margin-left: 0
    }
}

#wpadminbar {
    display: none !important
}

* {
    margin: 0;
    outline: 0 none;
    box-sizing: border-box
}

body {
    background: url(../images/background-wood.jpg);
    font-size: 14px;
    font-family: 'Open Sans', sans-serif !important
}

img {
    max-width: 100%;
    height: auto
}

img.portrait {
    border: 6px solid #fff;
    box-shadow: 5px 3px 5px #545454;
    margin-left: 10px
}

img.alignright {
    float: right
}

a {
    color: #333;
    text-decoration: none
}

a:hover,
a:focus {
    color: #428bca;
    text-decoration: none !important
}

.mobile {
    display: none
}

.non-mobile {
    display: inherit
}

.hidden {
    display: none
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
#header:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.form-horizontal .form-group:after {
    content: "";
    display: table;
    clear: both
}

.clear {
    clear: both;
    height: 0
}

a.phone {
    color: #5d231f
}

a.phone:hover {
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 700 !important;
    font-family: 'Open Sans', sans-serif !important
}

.page-title {
    border-bottom: 1px solid rgba(93, 35, 31, .1);
    padding-bottom: 10px
}

.main-wrap-shadow {
    -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 8px 15px rgba(0, 0, 0, .8);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .8)
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important
}

@media only screen and (min-width:768px) {
    body.woocommerce .content-wrap {
        margin-top: 125px
    }
}

body .content-wrap {
    line-height: 23px;
    padding: 20px;
    margin-top: 5px
}

@media only screen and (min-width:768px) {
    body .content-wrap {
        margin-top: 105px
    }
}

@media only screen and (max-width:320px) {
    body .content-wrap img {
        display: block;
        width: 100%;
        margin-bottom: 15px
    }
}

th {
    text-align: left
}

#content {
    position: relative
}

.page-id-17 h4 {
    padding: 10px 0
}

.shipping-policy-container .shipping-policy ol li {
    list-style-type: inherit;
    padding: 12px 0
}

.shipping-policy-container h2 {
    text-align: center
}

.page-wrap {
    position: relative
}

.page-wrap .main-wrap {
    max-width: 990px;
    margin: 0 auto;
    background-color: #f6f2d1
}

@media only screen and (max-width:767px) {
    .page-wrap .main-wrap {
        width: auto !important;
        margin: 0 !important
    }
}

.page-wrap .main-wrap .content {
    margin-top: 90px
}

.page-wrap .main-wrap .content .hero {
    display: block;
    margin: 0 auto
}

.address-and-phone {
    float: left;
    padding-bottom: 15px
}

.stay-connected {
    float: right
}

.stay-connected a i {
    background: #205D7A;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
    padding-top: 6%;
    transition: all .3s ease-in-out
}

.stay-connected a i:hover {
    opacity: .8
}

.stay-connected a i.fa-facebook {
    background: #3b5998
}

.address-and-phone>span,
.stay-connected>span {
    display: block;
    font-weight: 700;
    color: #5d231f;
    font-size: 1.1em
}

.where-to-buy>div {
    width: 85%
}

.where-to-buy-wrap div.logo {
    padding-top: 22px
}

.where-to-buy-wrap div.logo img {
    max-width: 144px
}

.where-to-buy-content {
    padding: 10px 0 0 10px
}

.where-to-buy-content ul {
    margin: 0;
    padding: 0
}

.where-to-buy-content ul li {
    width: 45%;
    vertical-align: top;
    display: inline-block;
    margin: 6px 10px 0 0
}

.content-wrap dl {
    margin: 0 0 1em;
    padding: 0
}

.home .content-wrap {
    padding: 5px 10px
}

@media only screen and (min-width:768px) {
    .home .content-wrap {
        padding: 20px
    }
}

.col1 {
    float: left;
    width: 75%
}

@media only screen and (max-width:480px) {
    .col1 {
        width: 100%
    }
}

.col2 {
    float: right;
    width: 25%
}

@media only screen and (max-width:480px) {
    .col2 {
        width: 100%
    }
}

.col2 div {
    padding: 10px 0
}

.brown-dotted-border {
    border-top: 5px dotted #502912;
    margin: 14px 0
}

.what-we-bake-container {
    width: 100%;
    background-color: #FFF;
    border-radius: 10px
}

.what-we-bake-container .what-we-bake-text {
    padding: 20px 20px 20px 29px;
    float: left;
    width: 306px
}

.what-we-bake-container .what-we-bake-text span {
    color: #5d231f;
    font-weight: 700;
    font-size: 1.1em
}

.what-we-bake-container .what-we-bake-text a {
    display: block;
    padding-top: 8px;
    text-decoration: none;
    color: #c56d00;
    font-weight: 700;
    font-size: 1.1em
}

@media only screen and (max-width:767px) {
    .what-we-bake-container .what-we-bake-text {
        width: 100%;
        padding: 15px;
        text-align: center
    }
}

.what-we-bake-container .what-we-bake-images {
    float: right
}

@media only screen and (max-width:767px) {
    .what-we-bake-container .what-we-bake-images {
        width: 100%;
        text-align: center
    }

    .what-we-bake-container .what-we-bake-images img {
        display: inline-block;
        border-radius: .75%
    }
}

.full-width {
    width: 100%
}

#header {
    position: relative
}

#header {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding: 0
}

#header>.navbar-header,
#header>.navbar-collapse {
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width:768px) {

    #header>.navbar-header,
    #header>.navbar-collapse {
        margin-right: 0;
        margin-left: 0
    }
}

#header .header-middle {
    position: relative;
    padding: 45px 0 0
}

#header .header-middle:before,
#header .header-middle:after {
    content: " ";
    display: table
}

#header .header-middle:after {
    clear: both
}

#header .header-middle:before,
#header .header-middle:after {
    content: " ";
    display: table
}

#header .header-middle:after {
    clear: both
}

.header-social-container {
    position: relative;
    float: left;
    width: 8.333333333333332%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:1200px) {
    .header-social-container {
        float: left;
        width: 50%
    }
}

@media (min-width:992px) {
    .header-social-container {
        float: left;
        width: 50%
    }
}

@media (min-width:768px) {
    .header-social-container {
        float: left;
        width: 25%
    }
}

.header-top-links-container {
    position: relative;
    float: left;
    width: 83.33333333333334%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
    padding-right: 30px
}

@media (min-width:1200px) {
    .header-top-links-container {
        float: left;
        width: 50%
    }
}

@media (min-width:992px) {
    .header-top-links-container {
        float: left;
        width: 50%
    }
}

@media (min-width:768px) {
    .header-top-links-container {

        width: 100%;
    }
}

#header-top ul.header-top-links {
    margin-bottom: 0
}

#header-top ul.header-top-links>li {
    list-style-type: none;
    display: inline-block
}

ol.shipping-policy li {
    padding: 15px
}

.map-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.hours {
    float: left !important;
    width: 50%
}

.contact {
    float: left !important;
    width: 50%
}

#footer {
    width: 100%;
    background: #ebbc5a url(../images/footer-dot.png) repeat-x top;
    font-size: 13px
}

#footer ul {
    list-style-type: none;
    padding-left: 0
}

#footer h3 {
    font-size: 15px
}

#footer .menu a {
    color: rgba(255, 255, 255, .7)
}

#footer p {
    margin: 0
}

#footer .footer-wrap {
    max-width: 990px;
    margin: 0 auto;
    padding: 28px 0 0
}

#footer .footer-wrap:before,
#footer .footer-wrap:after {
    content: " ";
    display: table
}

#footer .footer-wrap:after {
    clear: both
}

#footer .footer-wrap:before,
#footer .footer-wrap:after {
    content: " ";
    display: table
}

#footer .footer-wrap:after {
    clear: both
}

#footer .footer-wrap .menu {
    float: left
}

@media only screen and (max-width:767px) {
    #footer .footer-wrap .menu {
        display: none
    }
}

#footer .footer-wrap .call-us-now {
    float: right;
    color: #5d231f;
    font-weight: 700;
    font-size: 1.4em
}

@media only screen and (max-width:767px) {
    #footer .footer-wrap .call-us-now {
        text-align: center;
        float: none !important
    }
}

#footer .footer-wrap .call-us-now>span {
    color: #c97700
}

#footer .copyright {
    clear: both;
    text-align: center;
    padding: 35px 0 15px
}

@media only screen and (max-width:767px) {
    #footer .copyright {
        margin-top: 25px
    }
}

#footer .copyright>div {
    text-align: center;
    margin-top: 25px
}

#footer .copyright span {
    font-size: .825em
}

#footer .social-container ul {
    overflow: auto
}

#footer .social-container ul li {
    list-style-type: none;
    float: left
}

#footer .social-container ul li a i {
    background: #205D7A;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
    transition: all .3s ease-in-out
}

#footer .social-container ul li a i:hover {
    opacity: .8
}

#footer .social-container ul li a i.fa-facebook {
    background: #3b5998
}

.social-container ul {
    overflow: auto
}

.social-container ul li {
    list-style-type: none;
    float: left
}

.social-container ul li a i {
    background: #205D7A;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
    transition: all .3s ease-in-out
}

.social-container ul li a i:hover {
    opacity: .8
}

.social-container ul li a i.fa-facebook {
    background: #3b5998
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent
}

@media (min-width:768px) {
    .navbar {
        border-radius: 4px
    }
}

@media (min-width:768px) {
    .navbar-header {
        float: left
    }
}

.navbar-collapse {
    max-height: 340px;
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    -webkit-overflow-scrolling: touch
}

.navbar-collapse.in {
    overflow-y: auto
}

@media (min-width:768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important
    }

    .navbar-collapse.in {
        overflow-y: visible
    }

    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0
    }
}

.container>.navbar-header,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container-fluid>.navbar-collapse {
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width:768px) {

    .container>.navbar-header,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container-fluid>.navbar-collapse {
        margin-right: 0;
        margin-left: 0
    }
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px
}

@media (min-width:768px) {
    .navbar-static-top {
        border-radius: 0
    }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030
}

@media (min-width:768px) {

    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0
    }
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0
}

.navbar-brand {
    float: left;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px
}

.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none
}

@media (min-width:768px) {

    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: -15px
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.navbar-toggle:focus {
    outline: 0
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px
}

@media (min-width:768px) {
    .navbar-toggle {
        display: none
    }
}

.navbar-nav {
    margin: 7.5px -15px
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px
}

@media (max-width:767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none
    }

    .navbar-nav .open .dropdown-menu>li>a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px
    }

    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 20px
    }

    .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-nav .open .dropdown-menu>li>a:focus {
        background-image: none
    }
}

@media (min-width:768px) {
    .navbar-nav {
        float: left;
        margin: 0
    }

    .navbar-nav>li {
        float: left
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px
    }

    .navbar-nav.navbar-right:last-child {
        margin-right: -15px
    }
}

@media (min-width:768px) {
    .navbar-left {
        float: left !important
    }

    .navbar-right {
        float: right !important
    }
}

.navbar-form {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    margin-top: 8px;
    margin-bottom: 8px
}

@media (min-width:768px) {
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle
    }

    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }

    .navbar-form .input-group>.form-control {
        width: 100%
    }

    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle
    }

    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        vertical-align: middle
    }

    .navbar-form .radio input[type=radio],
    .navbar-form .checkbox input[type=checkbox] {
        float: none;
        margin-left: 0
    }

    .navbar-form .has-feedback .form-control-feedback {
        top: 0
    }
}

@media (max-width:767px) {
    .navbar-form .form-group {
        margin-bottom: 5px
    }
}

@media (min-width:768px) {
    .navbar-form {
        width: auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .navbar-form.navbar-right:last-child {
        margin-right: -15px
    }
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px
}

.navbar-btn.btn-sm {
    margin-top: 10px;
    margin-bottom: 10px
}

.navbar-btn.btn-xs {
    margin-top: 14px;
    margin-bottom: 14px
}

.navbar-text {
    margin-top: 15px;
    margin-bottom: 15px
}

@media (min-width:768px) {
    .navbar-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px
    }

    .navbar-text.navbar-right:last-child {
        margin-right: 0
    }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7
}

.navbar-default .navbar-brand {
    color: #777
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent
}

.navbar-default .navbar-text {
    color: #777
}

.navbar-default .navbar-nav>li>a {
    color: #777
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #333;
    background-color: transparent
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #555;
    background-color: #e7e7e7
}

.navbar-default .navbar-nav>.disabled>a,
.navbar-default .navbar-nav>.disabled>a:hover,
.navbar-default .navbar-nav>.disabled>a:focus {
    color: #ccc;
    background-color: transparent
}

.navbar-default .navbar-toggle {
    border-color: #ddd
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ddd
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #e7e7e7;
    color: #555
}

@media (max-width:767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #777
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #333;
        background-color: transparent
    }

    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #555;
        background-color: #e7e7e7
    }

    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {
        color: #ccc;
        background-color: transparent
    }
}

.navbar-default .navbar-link {
    color: #777
}

.navbar-default .navbar-link:hover {
    color: #333
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808
}

.navbar-inverse .navbar-brand {
    color: #999
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #fff;
    background-color: transparent
}

.navbar-inverse .navbar-text {
    color: #999
}

.navbar-inverse .navbar-nav>li>a {
    color: #999
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #fff;
    background-color: transparent
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #080808
}

.navbar-inverse .navbar-nav>.disabled>a,
.navbar-inverse .navbar-nav>.disabled>a:hover,
.navbar-inverse .navbar-nav>.disabled>a:focus {
    color: #444;
    background-color: transparent
}

.navbar-inverse .navbar-toggle {
    border-color: #333
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #333
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #101010
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #080808;
    color: #fff
}

@media (max-width:767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
        border-color: #080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #999
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #fff;
        background-color: transparent
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #fff;
        background-color: #080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus {
        color: #444;
        background-color: transparent
    }
}

.navbar-inverse .navbar-link {
    color: #999
}

.navbar-inverse .navbar-link:hover {
    color: #fff
}

#header-top {
    direction: ltr;
    color: #ccc;
    font: 400 13px/32px "Open Sans", sans-serif;
    height: 32px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    background: #3F1C0A
}

#header-top a {
    color: #ccc
}

#header-top a:hover {
    color: rgba(204, 204, 204, .9);
    transition: all .2s ease-in
}

.fixed {
    position: fixed
}

#nav:before,
#nav:after {
    content: " ";
    display: table
}

#nav:after {
    clear: both
}

#nav:before,
#nav:after {
    content: " ";
    display: table
}

#nav:after {
    clear: both
}

#nav>div ul {
    padding: 0;
    margin: 0
}

#nav>div ul li {
    list-style-type: none;
    position: relative;
    display: block
}

#menu-primary li#menu-item-404 a {
    width: 284px;
    height: 245px;
    margin: -87px 0 0 28px;
    background: transparent url(../images/logo.png) no-repeat scroll center center / 284px 245px;
    color: transparent;
    border: 0 none;
    padding: 0
}

#menu-item-329 {
    margin-left: 7px
}

#menu-primary>li.first-child {
    margin-left: 20px
}

.nav-primary-wrap {
    position: relative
}

.nav-primary-wrap .left-ribbon {
    position: absolute;
    left: -51px;
    width: 101px;
    height: 62px;
    background: url(../images/nav-ribbon-left.png) no-repeat scroll 0 0 transparent
}

@media only screen and (max-width:767px) {
    .nav-primary-wrap .left-ribbon {
        display: none
    }
}

.nav-primary-wrap .right-ribbon {
    position: absolute;
    right: -51px;
    top: 0;
    width: 101px;
    height: 62px;
    background: url(../images/nav-ribbon-right.png) no-repeat scroll 0 0 transparent
}

@media only screen and (max-width:767px) {
    .nav-primary-wrap .right-ribbon {
        display: none
    }
}

.collapse {
    display: none
}

.navbar-header {
    background-color: #3F1C0A;
    cursor: pointer;
    width: 100%
}

.navbar-header a {
    color: #FFF
}

.navbar-header a:hover,
.navbar-header a:focus,
.navbar-header a:visited {
    color: #FFF
}

@media (max-width:767px) {
    .navbar-collapse {
        border-top: 1px dashed #efefef
    }
}

.navbar-toggle {
    float: left;
    margin-left: 10px;
    margin-right: 0
}

.navbar-toggle .icon-bar {
    background-color: #FFF
}

.navbar-nav {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #3F1C0A
}

@media only screen and (min-width:768px) {
    .navbar-nav {
        height: 58px
    }
}

.navbar-nav>li {
    padding: 0;
    display: inline-block;
    vertical-align: top
}

@media only screen and (max-width:767px) {
    .navbar-nav>li {
        padding-left: 10px
    }
}

@media only screen and (max-width:767px) {
    .navbar-nav>li:first-child {
        margin-top: 0 !important;
        border-top: 0
    }
}

@media (max-width:767px) {
    .navbar-nav>li {
        border-top: 1px solid #efefef;
        border-left: 0;
        border-right: 0
    }
}

.navbar-nav>li>a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    display: block;
    padding: 20px;
    font-size: 18px;
    position: relative
}

@media only screen and (max-width:767px) {
    .navbar-nav>li>a {
        font-size: 16px;
        padding: 10px;
        font-weight: 500
    }
}

@media (min-width:768px) and (max-width:899px) {
    .navbar-nav>li>a {
        font-size: 16px
    }
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    color: #f3bc63;
    background-color: transparent !important;
    transition: all .3s ease-in
}

ul.sub-menu {
    width: 275px;
    padding: 10px !important
}

ul.sub-menu>li {
    float: left;
    width: 50%
}

ul.sub-menu>li>a {
    text-align: center
}

@media only screen and (max-width:767px) {
    ul.sub-menu>li>a {
        font-size: 16px;
        padding: 10px;
        font-weight: 500
    }
}

@media (min-width:768px) and (max-width:899px) {
    ul.sub-menu>li>a {
        font-size: 16px
    }
}

.nav .open>a {
    border-color: none;
    background-color: #BE4662
}

.nav .open>a:hover,
.nav .open>a:focus {
    border-color: none;
    background-color: #BE4662
}

.navbar-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    display: block;
    padding: 20px;
    font-size: 18px
}

footer .footer-container .menu {
    float: left
}

footer .footer-container .menu ul {
    padding-left: 0
}

footer .footer-container .menu ul li {
    display: inline-block;
    list-style-type: none
}

footer .footer-container .menu ul li a {
    color: #5d231f;
    font-weight: 700;
    text-decoration: none;
    padding: 0 20px;
    font-size: 1.1em
}

footer .footer-container .menu ul li a:hover {
    text-decoration: underline
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
#header:before,
#header:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
    content: " ";
    display: table
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
#header:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.form-horizontal .form-group:after {
    clear: both
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.pull-right {
    float: right !important
}

.pull-left {
    float: left !important
}

.hide {
    display: none !important
}

.show {
    display: block !important
}

.invisible {
    visibility: hidden
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.hidden {
    display: none !important;
    visibility: hidden !important
}

.affix {
    position: fixed
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #428bca;
    text-decoration: none
}

a:hover,
a:focus {
    color: #2a6496;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

figure {
    margin: 0
}

img {
    vertical-align: middle
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

.img-rounded {
    border-radius: 6px
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto
}

.img-circle {
    border-radius: 50%
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Helvetica, Arial, Sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #5d231f
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    font-weight: 400;
    line-height: 1;
    color: #999
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
    font-size: 65%
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
    font-size: 75%
}

h1,
.h1 {
    font-size: 36px
}

h2,
.h2 {
    font-size: 30px
}

h3,
.h3 {
    font-size: 24px
}

h4,
.h4 {
    font-size: 18px
}

h5,
.h5 {
    font-size: 14px
}

h6,
.h6 {
    font-size: 12px
}

p {
    margin: 0 0 10px
}

.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.4
}

@media (min-width:768px) {
    .lead {
        font-size: 21px
    }
}

small,
.small {
    font-size: 85%
}

cite {
    font-style: normal
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.text-justify {
    text-align: justify
}

.text-muted {
    color: #999
}

.text-primary {
    color: #428bca
}

a.text-primary:hover {
    color: #3071a9
}

.text-success {
    color: #3c763d
}

a.text-success:hover {
    color: #2b542c
}

.text-info {
    color: #31708f
}

a.text-info:hover {
    color: #245269
}

.text-warning {
    color: #8a6d3b
}

a.text-warning:hover {
    color: #66512c
}

.text-danger {
    color: #a94442
}

a.text-danger:hover {
    color: #843534
}

.bg-primary {
    color: #fff;
    background-color: #428bca
}

a.bg-primary:hover {
    background-color: #3071a9
}

.bg-success {
    background-color: #dff0d8
}

a.bg-success:hover {
    background-color: #c1e2b3
}

.bg-info {
    background-color: #d9edf7
}

a.bg-info:hover {
    background-color: #afd9ee
}

.bg-warning {
    background-color: #fcf8e3
}

a.bg-warning:hover {
    background-color: #f7ecb5
}

.bg-danger {
    background-color: #f2dede
}

a.bg-danger:hover {
    background-color: #e4b9b9
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px
}

ul ul,
ol ul,
ul ol,
ol ol {
    margin-bottom: 0
}

.list-unstyled {
    padding-left: 0;
    list-style: none
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px
}

.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px
}

dl {
    margin-top: 0;
    margin-bottom: 20px
}

dt,
dd {
    line-height: 1.428571429
}

dt {
    font-weight: 700
}

dd {
    margin-left: 0
}

@media (min-width:768px) {
    .dl-horizontal dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .dl-horizontal dd {
        margin-left: 180px
    }
}

abbr[title],
abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #999
}

.initialism {
    font-size: 90%;
    text-transform: uppercase
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
    margin-bottom: 0
}

blockquote footer,
blockquote small,
blockquote .small {
    display: block;
    font-size: 80%;
    line-height: 1.428571429;
    color: #999
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
    content: '\2014 \00A0'
}

.blockquote-reverse,
blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eee;
    border-left: 0;
    text-align: right
}

.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
    content: ''
}

.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
    content: '\00A0 \2014'
}

blockquote:before,
blockquote:after {
    content: ""
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.428571429
}

h1,
.h1 {
    font-size: 25px
}

h2,
.h2 {
    font-size: 22px
}

h3,
.h3 {
    font-size: 20px
}

h4,
.h4 {
    font-size: 17px
}

h5,
.h5 {
    font-size: 14px
}

h6,
.h6 {
    font-size: 12px
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700
}

input[type=search] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

input[type=radio],
input[type=checkbox] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal
}

input[type=file] {
    display: block
}

input[type=range] {
    display: block;
    width: 100%
}

select[multiple],
select[size] {
    height: auto
}

input[type=file]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

output {
    display: block;
    padding-top: 7px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #999
}

.form-control::-webkit-input-placeholder {
    color: #999
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1
}

textarea.form-control {
    height: auto
}

input[type=search] {
    -webkit-appearance: none
}

input[type=date] {
    line-height: 34px
}

.form-group {
    margin-bottom: 15px
}

.radio,
.checkbox {
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px
}

.radio label,
.checkbox label {
    display: inline;
    font-weight: 400;
    cursor: pointer
}

.radio input[type=radio],
.radio-inline input[type=radio],
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox] {
    float: left;
    margin-left: -20px
}

.radio+.radio,
.checkbox+.checkbox {
    margin-top: -5px
}

.radio-inline,
.checkbox-inline {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer
}

.radio-inline+.radio-inline,
.checkbox-inline+.checkbox-inline {
    margin-top: 0;
    margin-left: 10px
}

input[type=radio][disabled],
input[type=checkbox][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type=radio],
fieldset[disabled] input[type=checkbox],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
    cursor: not-allowed
}

.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

select.input-sm {
    height: 30px;
    line-height: 30px
}

textarea.input-sm,
select[multiple].input-sm {
    height: auto
}

.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px
}

select.input-lg {
    height: 46px;
    line-height: 46px
}

textarea.input-lg,
select[multiple].input-lg {
    height: auto
}

.has-feedback {
    position: relative
}

.has-feedback .form-control {
    padding-right: 42.5px
}

.has-feedback .form-control-feedback {
    position: absolute;
    top: 25px;
    right: 0;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
    color: #3c763d
}

.has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-success .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168
}

.has-success .input-group-addon {
    color: #3c763d;
    border-color: #3c763d;
    background-color: #dff0d8
}

.has-success .form-control-feedback {
    color: #3c763d
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
    color: #8a6d3b
}

.has-warning .form-control {
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-warning .form-control:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b
}

.has-warning .input-group-addon {
    color: #8a6d3b;
    border-color: #8a6d3b;
    background-color: #fcf8e3
}

.has-warning .form-control-feedback {
    color: #8a6d3b
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
    color: #a94442
}

.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483
}

.has-error .input-group-addon {
    color: #a94442;
    border-color: #a94442;
    background-color: #f2dede
}

.has-error .form-control-feedback {
    color: #a94442
}

.form-control-static {
    margin-bottom: 0
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373
}

@media (min-width:768px) {
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle
    }

    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }

    .form-inline .input-group>.form-control {
        width: 100%
    }

    .form-inline .control-label {
        margin-bottom: 0;
        vertical-align: middle
    }

    .form-inline .radio,
    .form-inline .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        vertical-align: middle
    }

    .form-inline .radio input[type=radio],
    .form-inline .checkbox input[type=checkbox] {
        float: none;
        margin-left: 0
    }

    .form-inline .has-feedback .form-control-feedback {
        top: 0
    }
}

.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px
}

.form-horizontal .radio,
.form-horizontal .checkbox {
    min-height: 27px
}

.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px
}

.form-horizontal .form-control-static {
    padding-top: 7px
}

@media (min-width:768px) {
    .form-horizontal .control-label {
        text-align: right
    }
}

.form-horizontal .has-feedback .form-control-feedback {
    top: 0;
    right: 15px
}

form input,
form select,
form textarea {
    color: #000 !important
}

.button-login {
    float: left
}

a.lost_password {
    margin-left: 10px
}

@media only screen and (max-width:480px) {
    .mobile {
        display: inherit
    }

    .non-mobile {
        display: none
    }

    img.mobile-logo {
        width: 210px;
        height: auto
    }

    img.portrait {
        display: none
    }

    .header-top-links-container {
        padding-right: 10px
    }

    .hours {
        width: 100%;
        margin: 0 auto
    }

    .contact {
        width: 100%;
        margin: 0 auto
    }

    .menu-button {
        position: absolute;
        top: 61px;
        right: 20px;
        z-index: 1000;
        margin: .5em;
        padding: 0;
        width: 2.5em;
        height: 2.25em;
        border: 0;
        text-indent: 2.5em;
        font-size: 1em;
        color: transparent;
        background: 0 0
    }

    .menu-button:before {
        position: absolute;
        top: .5em;
        right: .5em;
        bottom: .5em;
        left: .5em;
        background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
        content: ''
    }
}

@media only screen and (max-width:767px) {

    html,
    body,
    .page-wrap {
        overflow: hidden;
        width: 100%;
        height: 100%
    }

    .page-wrap {
        overflow: scroll
    }

    .page-wrap .main-wrap {
        width: auto;
        margin-left: 20px;
        margin-right: 20px
    }

    .mobile {
        display: inherit
    }

    .non-mobile {
        display: none
    }

    #header .header-middle {
        padding: 20px 0
    }

    .header-top-links-container {
        padding-right: 10px
    }

    .logo-wrap .logo-wide {
        display: none
    }

    .logo-wrap .logo-responsive {
        display: block
    }

    #menu-primary #menu-item-329 {
        margin-left: 0
    }

    #menu-primary li#menu-item-404 {
        display: none
    }

    .navbar-nav>li {
        width: 100% !important
    }

    ul.sub-menu {
        display: none
    }

    .menu-button {
        position: absolute;
        top: 61px;
        right: 20px;
        z-index: 1000;
        margin: 1em;
        padding: 0;
        width: 2.5em;
        height: 2.25em;
        border: 0;
        text-indent: 2.5em;
        font-size: 1.5em;
        color: transparent;
        background: 0 0
    }

    .menu-button:before {
        position: absolute;
        top: .5em;
        right: .5em;
        bottom: .5em;
        left: .5em;
        background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
        content: ''
    }

    .close-button {
        width: 1em;
        height: 1em;
        position: absolute;
        left: 1em;
        top: 1em;
        overflow: hidden;
        text-indent: 1em;
        font-size: .75em;
        border: 0;
        background: 0 0;
        color: transparent
    }

    .menu-mobile {
        background: #272c32;
        position: fixed
    }

    .mobile-menu-vertical {
        width: 240px;
        height: 100%;
        top: 0;
        z-index: 10000
    }

    .menu-right {
        right: -240px
    }

    .menu-right.menu-open {
        right: 0
    }

    .menu-push {
        overflow-x: hidden;
        position: relative
    }

    .menu-mobile,
    .menu-push {
        transition: all .3s ease
    }

    #footer .shop-container ul li,
    #footer .help-container ul li {
        display: inline-block;
        margin-right: 10px
    }
}

@media (max-width:1024px) {
    .page-wrap .main-wrap {
        margin: 0 15px
    }

    .nav-primary-wrap .right-ribbon {
        display: none
    }

    .nav-primary-wrap .left-ribbon {
        display: none
    }

    .where-to-buy-wrap div.logo {
        display: none
    }
}

@media only screen and (min-width:768px) {
    #site-header-cart:hover .site-header-cart-wrapper {
        display: block
    }

    .logo-wrap .logo-responsive {
        display: none
    }

    .navbar-header {
        display: none
    }

    .map-container {
        padding-bottom: 25%
    }

    .navbar-nav li.menu-item-has-children>a::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 10px;
        margin-left: -4px;
        width: 0;
        height: 0;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        border-top: 4px solid #e0e0e0;
        border-bottom: 0
    }

    .navbar-nav li.menu-item-has-children:hover>a:before {
        z-index: 2;
        bottom: 2px;
        margin-left: -9px;
        width: 0;
        height: 0;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        border-bottom: 8px solid #fff;
        border-top: 0
    }

    .navbar-nav ul.sub-menu {
        display: none;
        background: #fff;
        color: #ccc;
        position: absolute;
        top: 58px;
        z-index: 102;
        right: -78px
    }

    .navbar-nav ul.sub-menu li {
        border-right: 1px solid rgba(0, 0, 0, .05);
        border-bottom: 1px solid rgba(0, 0, 0, .05)
    }

    .navbar-nav ul.sub-menu li:nth-child(2n) {
        border-right: 0
    }

    .navbar-nav ul.sub-menu li.menu-item-413 {
        border-bottom: 0
    }

    .navbar-nav ul.sub-menu li:last-child {
        border-bottom: 0
    }

    .navbar-nav ul.sub-menu a {
        color: #333;
        font-size: 14px;
        padding: 15px
    }

    .navbar-nav ul.sub-menu a:hover {
        transition: all .3s ease-in-out;
        color: #428bca
    }
}

@media (min-width:768px) {
    .container {
        max-width: 945px;
        width: auto
    }
}

@media (min-width:992px) {
    .container {
        max-width: 990px;
        width: auto
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 990px;
        width: auto
    }
}

mark {
    background: transparent !important;
    font-weight: 700
}

a {
    color: #333
}

a:hover {
    text-decoration: none;
    color: #428bca
}

.fa-shopping-cart {
    font-size: 1.2em
}

.product_title {
    border-bottom: 1px solid rgba(93, 35, 31, .1);
    padding-bottom: 10px
}

.orderby {
    display: none
}

img {
    display: block
}

button.added:after,
input[type=button].added:after,
input[type=reset].added:after,
input[type=submit].added:after,
.button.added:after,
.added_to_cart.added:after {
    content: "\f00c";
    font-family: FontAwesome;
    margin-left: .53em
}

.button {
    display: inline-block;
    padding: 3px 10px;
    border: 0 none;
    background: #F3B457 none repeat scroll 0 0;
    font-size: 13px;
    white-space: nowrap;
    border-radius: 3px;
    transition: all .2s linear 0s;
    font-weight: 600;
    margin: 0 auto;
    color: #fff !important;
    text-align: center
}

.button:hover,
.button:focus {
    background: #428bca;
    color: #FFF !important;
    text-decoration: none;
    cursor: pointer
}

.apply-coupon {
    display: block;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0
}

.checkout-button {
    padding: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 300
}

.single_add_to_cart_button {
    padding: 6px 10px;
    font-size: 15px
}

.remove-item {
    font-size: 12px;
    position: relative;
    display: block;
    margin-top: 5px
}

.remove-item:hover {
    text-decoration: none
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    color: #FFF !important;
    background-color: #428bca
}

.product-actions {
    padding: 0 10px
}

.product-actions a.added_to_cart {
    display: none
}

.products {
    margin: 20px 0;
    padding-left: 0
}

.products li {
    float: left;
    text-align: center;
    overflow: hidden;
    margin-bottom: 40px
}

@media only screen and (max-width:479px) {
    .products li {
        clear: left
    }
}

@media only screen and (min-width:480px) and (max-width:768px) {
    .products li {
        width: 44%;
        margin-right: 3%
    }

    .products li:nth-child(2n+1) {
        clear: left
    }
}

@media only screen and (min-width:1122px) {
    .products li {
        width: 340px
    }
}

@media only screen and (min-width:768px) {
    .products li {
        margin-right: 1.2%;
        width: 32.1101%
    }

    .products li:nth-child(2n+1) {
        clear: none
    }

    .products li:nth-child(3n) {
        margin-right: 0
    }

    .products li:nth-child(3n+1) {
        clear: left
    }
}

p.price {
    font-weight: 700;
    font-size: 18px
}

div.images {
    padding-left: 0
}

div.entry-summary {
    padding: 0
}

div.entry-summary .product-purchase-details-box,
div.entry-summary form.cart {
    padding: 5px 0
}

div.entry-summary button.single_add_to_cart_button {
    margin-top: 15px
}

div.entry-summary .quantity label {
    display: block
}

div.entry-summary .quantity input.qty {
    width: 55px;
    height: 36px;
    margin: 4px 4px 4px 0;
    font-size: 16px;
    float: left
}

div.entry-summary .quantity .increment-quantity {
    border-radius: 3px;
    position: relative;
    float: left;
    width: 36px;
    height: 35px;
    margin: 4px 0 0 5px;
    background: #CFBAAD;
    -webkit-user-select: none;
    text-shadow: none;
    vertical-align: middle;
    cursor: pointer
}

div.entry-summary .quantity .increment-quantity span {
    position: absolute;
    font-size: 27px;
    font-weight: 700;
    color: #fff
}

div.entry-summary .quantity .increment-quantity span.plus {
    top: 5px;
    left: 11px
}

div.entry-summary .quantity .increment-quantity span.minus {
    top: 3px;
    left: 14px
}

.product-image {
    position: relative;
    display: inline-block;
    border-radius: 2px
}

.product-image:before {
    z-index: 2;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .1)
}

.product-image:hover:before {
    border-color: rgba(0, 0, 0, .2);
    transition: all .2s ease-in
}

.product .product-actions a {
    display: inline-block
}

.product .product-actions a:hover {
    text-decoration: none
}

.product .product-actions span.price {
    display: block
}

.product .product-image {
    display: block;
    width: 100%;
    margin-bottom: 15px
}

.product img {
    height: auto;
    display: block;
    width: 100%;
    margin-bottom: 15px
}

.product img:before {
    z-index: 2;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .4);
    box-sizing: border-box;
    border-radius: 2px
}

.product .woocommerce-main-image img {
    width: 100%;
    max-width: 445px;
    max-height: 445px;
    margin: 0 auto
}

.product h3 {
    font-size: 14px
}

.product .product-actions h3 {
    margin-bottom: 5px
}

.product .product-actions h3 a {
    color: #333
}

.product .product-actions h3 a:hover {
    color: #428bca
}

.product .product-actions .button {
    margin: 8px auto;
    color: #fff
}

.related .products {
    padding-left: 0
}

.related .product-actions .button {
    font-size: 12px
}

.related li {
    float: left;
    text-align: center;
    overflow: hidden;
    margin-bottom: 40px
}

@media only screen and (min-width:480px) and (max-width:768px) {
    .related li {
        width: 47.8006%;
        margin-right: 4.399%
    }

    .related li:nth-child(2n+1) {
        clear: left
    }
}

@media only screen and (min-width:1122px) {
    .related li {
        width: 340px
    }
}

@media only screen and (min-width:768px) {
    .related li {
        margin-right: 2.5%;
        width: 20.1101%
    }

    .related li:nth-child(3n) {
        margin-right: 0
    }
}

.order-total th,
.order-total td {
    background-color: #F6F2EF
}

.shop_table {
    width: 100%;
    margin: 15px auto 30px;
    border-collapse: separate;
    border-radius: 5px;
    border: 2px solid #CFBAAD
}

.shop_table th {
    padding: 10px;
    border-right: 1px solid #CFBAAD
}

.shop_table th:last-child {
    border-right: 0
}

.shop_table td {
    padding: 10px;
    border-right: 1px solid #CFBAAD
}

.shop_table td:last-child {
    border-right: 0
}

.shop_table tbody tr:last-child {
    background: #F6F2EF
}

.shop_table thead th {
    border-bottom: 1px solid #CFBAAD;
    background: #F6F2EF;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: capitalize;
    white-space: nowrap
}

.shop_table thead th:first-child {
    border-top-left-radius: 4px
}

.shop_table thead th:last-child {
    border-top-right-radius: 4px
}

.shop_table tfoot th,
.shop_table tfoot td {
    border-top: 1px solid #CFBAAD;
    background: #f6f2ef;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4
}

.shop_table tfoot tr:last-child {
    background: #f6f2ef
}

.shop_table tfoot tr:last-child th {
    font-weight: 700
}

.shop_table tfoot tr:last-child td {
    font-weight: 700
}

.shop_table tbody tr:last-child td {
    border-bottom: 0
}

.shop_table tbody tr:last-child th {
    border-bottom: 0
}

.shop_table tbody tr td {
    border-bottom: 2px solid #CFBAAD;
    vertical-align: top
}

.shop_table tbody tr th {
    border-bottom: 2px solid #CFBAAD;
    vertical-align: top
}

.shop_table tbody tr.cart_item {
    background-color: #fff
}

.shop_table td.product-quantity div.quantity>label {
    display: none
}

.shop_table td.product-quantity div.increment-quantity {
    display: none
}

.shop_table tr td {
    vertical-align: top
}

.shop_table .quantity input.qty {
    width: 50px
}

.coupon {
    border-radius: 5px;
    border: 1px solid #CFBAAD;
    padding: 5px 15px 15px
}

.cart_totals table {
    width: 100%
}

.wc-proceed-to-checkout {
    margin-top: 15px
}

.coupon,
.cart-collaterals {
    margin: 8px auto 30px
}

.cart-item-wrap {
    position: relative;
    width: 100%;
    min-height: 69px;
    padding-left: 115px
}

.cart-item-wrap .product-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;    
}

.header-top-links li.header-account a {
    display: inline-block
}

.header-top-links li.header-account a:after {
    content: "|";
    margin: 0 7px
}

.header-top-links li:last-child {
    padding-right: 0
}

.header-top-links li a:hover {
    color: #f3bc63;
    transition: all .3s ease-in
}

.site-header-cart-links img {
    cursor: pointer
}

.site-header-cart-links a:hover {
    color: #333;
    text-decoration: none
}

.woocommerce-tabs {
    padding-top: 40px
}

.woocommerce-tabs ul.tabs {
    padding-left: 5px
}

.woocommerce-tabs ul.tabs li {
    display: inline-block;
    background: #eee;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin-left: -5px
}

.woocommerce-tabs ul.tabs li a {
    color: inherit
}

.woocommerce-tabs ul.tabs li.active {
    font-weight: 700;
    background: #fff;
    border-bottom: 0
}

.panel.entry-content {
    padding: 20px;
    margin-top: -11px;
    border: 1px solid #ccc;
    border-radius: 0
}

.panel.entry-content h2 {
    display: none
}

.shop_attributes td p {
    padding-left: 8px;
    margin: 0 !important
}

a.pp_expand {
    display: none !important
}

#site-header-cart ul {
    list-style-type: none;
    padding: 0;
    position: relative;
    margin-bottom: 0;
    text-align: left
}

#site-header-cart .site-header-cart-wrapper {
    display: none
}

#site-header-cart .count {
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    font-weight: 700;
    height: 16px;
    line-height: 16px;
    text-align: center;
    left: 50px;
    width: 16px;
    font-size: 13px;
    position: absolute;
    top: 7px
}

#site-header-cart .cart_list li {
    position: relative;
    min-height: 70px;
    padding: 10px 40px 10px 0;
    border-bottom: 1px solid rgba(187, 187, 187, .2);
    font-size: 13px;
    line-height: 1.35
}

#site-header-cart .cart_list li.summary {
    min-height: 20px;
    padding: 5px;
    font-size: 16px;
    font-weight: 700
}

#site-header-cart .cart_list li.empty {
    border-bottom: 0;
    font-size: 15px;
    min-height: 15px;
    text-align: center;
    width: 100%;
    padding: 10px
}

#site-header-cart .cart_list li img {
    width: 85px;
    height: 50px;
    border-radius: 2px;
    position: absolute;
    left: 15px;
    top: 10px
}

#site-header-cart .cart_list li.item>a,
#site-header-cart .cart_list li span.quantity {
    display: block;
    width: 195px;
    margin-bottom: 4px;
    margin-left: 110px
}

#site-header-cart .cart_list li.item>a:hover,
#site-header-cart .cart_list li span.quantity:hover {
    text-decoration: none;
    transition: all .3s ease-in-out;
    color: #428bca !important
}

#site-header-cart .cart_list li span.quantity {
    font-size: 12px
}

.product_list_widget li.item a {
    color: #3F1C0A !important;
    font-weight: 700
}

.site-header-cart-wrapper {
    z-index: 100
}

@media screen and (min-width:481px) {
    .site-header-cart-wrapper {
        position: absolute;
        right: -131px;
        top: 30px;
        width: 350px;
        padding-top: 10px
    }
}

.site-header-cart-wrapper .widget_shopping_cart {
    background-color: #fff;
    position: relative
}

.site-header-cart-wrapper .widget_shopping_cart:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-top: 0
}

@media screen and (min-width:481px) {
    .site-header-cart-wrapper .widget_shopping_cart:before {
        left: 50%;
        margin-left: -5px
    }
}

.site-header-cart-wrapper .widget_shopping_cart .widget_shopping_cart_content {
    padding: 10px;
    position: relative;
    text-align: left;
    color: #3F1C0A
}

.site-header-cart-wrapper .widget_shopping_cart .widget_shopping_cart_content .remove-item {
    color: #5D231F !important;
    position: absolute;
    right: 10px;
    top: 6px;
    display: inline-block !important;
    width: auto !important;
    margin-left: 0 !important
}

.site-header-cart-wrapper .widget_shopping_cart .widget_shopping_cart_content p.subtotal {
    text-align: left
}

.site-header-cart-wrapper .widget_shopping_cart .widget_shopping_cart_content ul.cart_list li {
    padding: 0
}

.woocommerce li {
    list-style-type: none
}

#ship-to-different-address-checkbox {
    height: 15px;
    width: 15px
}

.input-text,
.state_select {
    color: #2e2e2e;
    padding: 0 .5em;
    line-height: 2em;
    background: #fff;
    outline: 0;
    width: 210px
}

@media only screen and (max-width:767px) {

    .input-text,
    .state_select {
        width: 100%;
        height: 40px
    }
}

.woocommerce-message {
    margin-bottom: 0;
    padding: 15px;
    text-align: center;
    position: relative;
    z-index: 13;
    color: #8a6d3b;
    font-weight: 700;
    background-color: #fcf8e3;
    border-color: #faebcc;
    margin-bottom: 20px
}

.woocommerce-success {
    margin-bottom: 0;
    padding: 15px;
    text-align: center;
    position: relative;
    z-index: 13;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    margin-bottom: 20px
}

.woocommerce-error {
    margin-bottom: 0;
    padding: 15px;
    text-align: center;
    position: relative;
    z-index: 13;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    margin-bottom: 20px
}

form.login label,
form.lost_reset_password label {
    width: 150px !important
}

@media only screen and (min-width:767px) {

    form.login label.rememberme,
    form.lost_reset_password label.rememberme {
        margin-left: 154px
    }
}

@media only screen and (min-width:767px) {

    form.login input[type=submit],
    form.lost_reset_password input[type=submit] {
        display: block;
        margin-left: 155px
    }
}

.woocommerce-checkout form.login {
    margin-top: 10px;
    padding: 20px;
    background-color: #efefef
}

.woocommerce-checkout create-account {
    margin-top: 10px;
    padding: 20px;
    background-color: #efefef
}

.woocommerce-billing-fields,
.order-details {
    margin-top: 40px
}

form label {
    display: inline-block
}

form.login .form-row label {
    width: 150px
}

form .form-row label {
    width: 200px
}

#shipping_method {
    padding-left: 0
}

#billing_country_field,
#shipping_country_field {
    display: none
}

textarea,
textarea.input-text {
    width: 100%;
    height: 120px;
    padding: 1em
}

form #billing_address_2,
form #shipping_address_2 {
    margin-left: 200px
}

@media only screen and (max-width:767px) {

    form #billing_address_2,
    form #shipping_address_2 {
        margin-left: 0
    }
}

.radio input[type=radio],
.radio-inline input[type=radio],
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox] {
    float: left;
    margin-left: -20px
}

form.checkout label {
    display: inline-block
}

#payment {
    margin-top: 40px
}

#payment ul {
    margin: 0 0 20px;
    padding: 0;
    border: 1px solid #CFBAAD;
    border-radius: 6px
}

#payment ul li {
    margin: 0;
    padding: 20px 20px 0;
    list-style-type: none
}

#payment ul li label {
    width: 230px;
    margin-left: 5px
}

#payment ul li .payment_box {
    margin-top: 10px;
    border-top: 1px solid #CFBAAD;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px
}

#payment ul li input[type=radio],
#payment ul li input[type=checkbox] {
    vertical-align: top
}